<a href=<%= "demo_start.html?status=" + @counter %>>Keep loading demo</a>


<div id="wrapper">

<div id="game_flow">
    <div class=":nicolas_batum">
        <% i = 0 %>
        <% margin_count = 0 %>
        <% until i == @players[:nicolas_batum][:plays].length do %>
            <% margin_left = ((1228/@game_flow_scope)*@players[:nicolas_batum][:plays][i][0] - 4 - margin_count) %>
            <% if margin_left < 0 %>
            <% margin_left = 0 %>
            <% end %>
            <div class="play" style="margin-left:<%= margin_left %>px;"><%= @players[:nicolas_batum][:plays][i][1] %></div>
            <% i += 1 %>
            <% margin_count = margin_count + 8 + margin_left %>
        <% end %>
    </div>
</div>

<div id = "game_info">
    
    
</div>

<div id="player_cards">

<% @players.each_pair do |key, value| %>
    <div class=<%= value[:ingame] %>><%= key.inspect.to_s %> has <%= value[:rebounds] %> rebounds -- <%= value[:blocks] %> blocks -- <%= value[:missed2pt] %> missed 2s -- <%= value[:missed3pt] %> missed 3s
    -- <%= value[:made2pt] %> 2s -- <%= value[:made3pt] %> 3s -- <%= value[:assists] %> assists -- <%= value[:madeft] %> FTS -- <%= value[:missedft] %> missed FTS --
    <%= value[:fouls] %> fouls -- <%= value[:steals] %> steals -- <%= value[:turnovers] %> turnovers -- double? <%= value[:awards][:old_fashioned] %></div>
<% end %>

</div>

</div




<p><%= @marker[:description] %></p>

<p><%= @players[:damian_lillard][:awards][:sniper]  %></p>

<p><%= @players[:wesley_matthews][:plays] %></p>

<p> <%= @event_array %> </p>

