<a href=<%= "demo_start.html?status=" + @counter %>>Keep loading demo</a>


<div id="wrapper">

<div id="game_flow">
   <svg height="230" width="1298">
       <path stroke="red" stroke-width="1" fill="none" d="<%= @game_flow_path %>" />
   </svg>
</div>

<div id = "game_info">
    <div id = "scoreboard">
        <%= @event_array.last[:home_score] %>
        <%= @event_array.last[:visitor_score] %>
    </div>
    <div id = "event_list">
        <ul>
            <% index_length = @event_array.length %>
            <% until index_length == 0 do %>
                <% index_length -= 1 %>
                <li>
                    <%= @event_array[index_length][:description] %>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<div id="player_cards">

<% @players.each_pair do |key, value| %>
    <div class=<%= value[:ingame] %>><%= key.inspect.to_s %> has <%= value[:rebounds] %> rebounds -- <%= value[:blocks] %> blocks -- <%= value[:missed2pt] %> missed 2s -- <%= value[:missed3pt] %> missed 3s
    -- <%= value[:made2pt] %> 2s -- <%= value[:made3pt] %> 3s -- <%= value[:assists] %> assists -- <%= value[:madeft] %> FTS -- <%= value[:missedft] %> missed FTS --
    <%= value[:fouls] %> fouls -- <%= value[:steals] %> steals -- <%= value[:turnovers] %> turnovers -- double? <%= value[:awards][:old_fashioned] %></div>
<% end %>

</div>

<div id="slide_space">
    <div id="focus_slider">
        blah
    </div>
    <div id="player_focus">
        <% @testnum = 0 %>
        <% 24.times do %>
            <div class="player_overlay"><%= @testnum %></div>
            <% @testnum += 1 %>
        <% end %>
    </div>
</div>

</div>






