<a href=<%= "demo_start.html?status=" + @counter %>>Keep loading demo</a>


<div id="wrapper">

<div id="game_flow">
   <svg height="230" width="1298">
       <path stroke="red" stroke-width="1" fill="none" d="<%= @game_flow_path %>" />
   </svg>
</div>

<div id = "game_info">
    <div id = "scoreboard">
        <%= @event_array.last[:home_score] %>
        <%= @event_array.last[:visitor_score] %>
    </div>
    <div id = "event_list">
        <ul>
            <% index_length = @event_array.length %>
            <% until index_length == 0 do %>
                <% index_length -= 1 %>
                <li>
                    <%= @event_array[index_length][:description] %>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<div id="player_card_area">

<% @players.each_pair do |key, value| %>
    <% if value[:ingame] == "in" %>
    
    <div class="card">
        <div class="card_photo">
            <%= value[:awards][:old_fashioned] %>
        </div>
        
        <div class="card_info">
            <div class="row1"><%= value[:made2pt] %>/<%= value[:made2pt] + value[:missed2pt] %></div>
            <div class="row2"><%= value[:points] %></div>
            <div class="row1"><%= value[:made3pt] %>/<%= value[:made3pt] + value[:missed3pt] %></div>
            <div class="row2"><%= value[:rebounds] %></div>
            <div class="row1"><%= value[:madeft] %>/<%= value[:madeft] + value[:missedft] %></div>
            <div class="row2"><%= value[:assists] %></div>
            <div class="row1"><%= value[:turnovers] %></div>
            <div class="row2"><%= value[:blocks] %></div>
            <div class="row1"><%= value[:fouls] %></div>
            <div class="row2"><%= value[:steals] %></div>
        </div>
        
        <div class="card_footer">
            <%= key.inspect.to_s[1..-1].gsub(/_/, " ") %>
        </div>
        
        
        
    </div>
    
    <% end %>
<% end %>

</div>

<div id="slide_space">
    <div id="focus_slider">
        blah
    </div>
    <div id="player_focus">
        <% @testnum = 0 %>
        <% 24.times do %>
            <div class="player_overlay"><%= @testnum %></div>
            <% @testnum += 1 %>
        <% end %>
    </div>
</div>

</div>






