<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @game.game_id %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @game.home_team %>
</p>

<p>
  <strong>Visiting team:</strong>
  <%= @game.visiting_team %>
</p>

<p>
  <strong>Game date:</strong>
  <%= @game.game_date %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
